@using WebShop.Models.Views
@model ProductSupplierCategoryVM

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Categories</h3>
            <ul class="list-group">
                @foreach (var category in Model.Categories)
                {
                    <li class="list-group-item">
                        <a href="@Url.Action("Index", new { categoryId = category.Id })" class="@(category.Id == 1 ? "text-light" : "text-dark")">
                            @category.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top" src="img/@(product.Name).jpg" alt="@product.Name" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title">@product.Name</h5>
                                <p class="card-text">@product.Description</p>
                                <p class="card-text"><strong>Price: @product.Price.ToString("C2")</strong></p>
                                <p class="card-text">
                                    <a href="@Url.Action("Index", new { supplierId = product.SupplierId, categoryId = product.ProductCategoryId})">
                                        Supplier: @product.Supplier.Name
                                    </a>
                                </p>
@*                                 <a class="btn btn-primary" onclick="addToCart()" asp-controller="Home" asp-action="AddToCart" asp-route-productId="@product.Id">Add to Cart</a>
 *@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


